:root {
  --shadow: rgba(52, 38, 126, 0.4) 0 48px 100px 0;
}

.img-container {
  width: 992px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #fcfcfc;
  margin: 50px auto;
  gap: 1em;
}

.img-container img {
  border: 2px solid #fcfcfc9f;
  transition-duration: 0.3s;
}

.card:hover.card img {
  transition-timing-function: ease-in-out;
  filter: brightness(45%);
  /* filter: blur(3px); */
}
.card:hover.card h5 {
  transition-timing-function: ease-in-out;
  visibility: visible;
}

.card h5 {
  visibility: hidden;
  z-index: 2;
  width: 80%;
  color: rgb(237, 184, 82, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  font-size: 30pt;
  transition-duration: 0.2s;
}

.card {
  position: relative;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
