.main-area {
  grid-row: 1;
  grid-column: 2/5;
  z-index: -1;
}

.main-area h4 {
  color: var(--accent-color);
  margin-bottom: 10px;
}

p {
  opacity: 90%;
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .main-area {
    grid-row: 1/2;
    grid-column: 2/6;
  }
}

@media (max-width: 768px) {
  .main-area {
    grid-row: 2/2;
    grid-column: 1/6;
  }
}
