@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Inter:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

* i {
  font-size: larger;
}
body {
  background-image: url(../images/bard_gif.gif);
  background-size: cover;
  background-position: 20%;
  margin: 0 auto;
  line-height: 1.3;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fcfcfc;
  transition-duration: 0.6s;
}

a:hover {
  color: #edb852;
}

hr {
  opacity: 20%;
  margin-bottom: 30px;
}

.main-header {
  height: 12em;
  padding: 2em;
  max-width: 1200px;
  margin: 20px auto;
  background-image: url(../images/Shen_Image.webp);
  border-radius: 30px;
  box-shadow: rgba(52, 38, 126, 0.4) 0 48px 100px 0;
  background-position: 55% 4%;
  color: whitesmoke;
  opacity: 98%;
  transition: 0.8s;
}

h1 {
  font-size: 30pt;
}

.main-header h2 {
  color: #edb852;
  font-size: medium;
  margin: 0.5rem 0;
}
.main-header h3 {
  /* font-weight: 100; */
  font-size: medium;
  margin: 0.2rem 0;
}

.main-nav {
  align-items: center;
  margin-top: 0px;
  background-color: #8267c76e;
  display: flex;
  gap: 2em;
  text-align: center;
  padding: 5px 20em;
  justify-content: space-around;
  transition: 0.8s;
}

.main-nav h3:hover {
  color: var(--accent-color);
  cursor: pointer;
  transition: 0.5s;
}

.drop-header:hover .drop-menu {
  display: block;
}

.drop-menu {
  display: none;
  position: absolute;
  opacity: 95%;
  background-color: #fcfcfc;
  min-width: 160px;
  box-shadow: var(--shadow);
  z-index: 1;
  text-align: left;
  transition: 1s;
  padding: 10px;
  border-radius: 8px;
}

.drop-menu a {
  display: block;
  color: #8367c7;
  padding: 5px;
  transition: 1s;
}

.drop-menu a:hover {
  background-color: #8267c7;
  border-radius: 5px;
  color: var(--accent-color);
  transition: 1s;
}

footer {
  font-size: large;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  padding: 2em;
  background-color: #8367c7;
  color: #ffcf75;
  transition: 1s;
}
p {
  color: #fcfcfc;
}

img,
video {
  border: 1px solid #edb852;
  border-radius: 15px;
}

/* todo: Media Queries for:
-<992px
-<768px
-<576px
*/
